In [4]:
import plotly.io as pio

pio.renderers.default = "vscode+jupyterlab+notebook_connected"

# Project 1

In [5]:
#Step 1
#I have selected UN population because it's a topic. I haven't worked on much before,
#nor have I seen this global data on it previously

In [6]:
import pandas as pd

un_data = pd.read_csv("/Users/angelragasr/Desktop/project1/SYB66_1_202310_Population, Surface Area and Density.csv", 
                       encoding="ISO-8859-1", skiprows=1, header=0)
#The encoding, skiprows and header codes were recommended by online tutorials to open my file

un_data

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),"6,985.60",NaN,"United Nations Population Division, New York, ..."
1,1,"Total, all countries or areas",2010,Population mid-year estimates for males (milli...,"3,514.41",NaN,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2010,Population mid-year estimates for females (mil...,"3,471.20",NaN,"United Nations Population Division, New York, ..."
3,1,"Total, all countries or areas",2010,Sex ratio (males per 100 females),101.2,NaN,"United Nations Population Division, New York, ..."
4,1,"Total, all countries or areas",2010,Population aged 0 to 14 years old (percentage),27.1,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...
7647,722,SIDS,2022,Population mid-year estimates for females (mil...,36.92,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7648,722,SIDS,2022,Sex ratio (males per 100 females),101.4,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7649,722,SIDS,2022,Population aged 0 to 14 years old (percentage),25.0,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7650,722,SIDS,2022,Population aged 60+ years old (percentage),13.3,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7651,722,SIDS,2022,Population density,62.4,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."

In [7]:
#To name the columns
un_data.columns = ['NÂ°', 'Country', 'Year', 'Series', 'Value', 'Footnotes', 'Source']

un_data

,NÂ°,Country,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2010,Population mid-year estimates (millions),"6,985.60",NaN,"United Nations Population Division, New York, ..."
1,1,"Total, all countries or areas",2010,Population mid-year estimates for males (milli...,"3,514.41",NaN,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2010,Population mid-year estimates for females (mil...,"3,471.20",NaN,"United Nations Population Division, New York, ..."
3,1,"Total, all countries or areas",2010,Sex ratio (males per 100 females),101.2,NaN,"United Nations Population Division, New York, ..."
4,1,"Total, all countries or areas",2010,Population aged 0 to 14 years old (percentage),27.1,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...
7647,722,SIDS,2022,Population mid-year estimates for females (mil...,36.92,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7648,722,SIDS,2022,Sex ratio (males per 100 females),101.4,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7649,722,SIDS,2022,Population aged 0 to 14 years old (percentage),25.0,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7650,722,SIDS,2022,Population aged 60+ years old (percentage),13.3,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7651,722,SIDS,2022,Population density,62.4,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."

In [8]:
#To convert the value column to a numeric format by removing commas and then coercing 
#non-numeric values to NaN (if any)
un_data['Value'] = un_data['Value'].astype(str).str.replace(',', '')
un_data['Value'] = pd.to_numeric(un_data['Value'], errors='coerce')

#drop rows where 'value' is NaN (non-valid values)
un_data = un_data.dropna(subset=['Value'])

In [9]:
#list of the non-country names (regions, sub-regions, continents)

excluded_countries = [
    "Total, all countries or areas", "Africa", "Northern Africa", "Sub-Saharan Africa", "Eastern Africa", 
    "Middle Africa", "Southern Africa", "Western Africa", "Americas", 
    "Northern America", "Latin America & the Caribbean", "Caribbean", 
    "Central America", "South America", "Asia", "Central Asia", 
    "Eastern Asia", "South-central Asia", "South-eastern Asia", "Southern Asia", 
    "Western Asia", "Europe", "Eastern Europe", "Northern Europe", 
    "Southern Europe", "Western Europe", "Oceania", "Australia and New Zealand", 
    "Melanesia", "Micronesia", "Polynesia", "British Virgin Islands", 
    "Falkland Islands (Malvinas)", "Faroe Islands", "French Guiana", 
    "Guam", "New Caledonia", "Puerto Rico", "Saint Martin (French part)", 
    "Sint Maarten (Dutch part)", "Turks and Caicos Islands", 
    "United States Virgin Islands", "Other non-specified areas", 
    "LLDCs", "LDCs", "SIDS", "LDCÂ§", "LLDCÂ§", "SIDÂ§", "American Samoa", "Aruba", "Bermuda", "Bonaire, St. Eustatius & Saba", 
    "British Virgin Islands", "Cayman Islands", "Cook Islands", 
    "Falkland Islands (Malvinas)", "French Guiana", "French Polynesia", 
    "Guam", "Isle of Man", "Montserrat", "New Caledonia", "Niue", 
    "Northern Mariana Islands", "Puerto Rico", "RÃ©union", 
    "Saint BarthÃ©lemy", "Saint Helena", "Saint Martin (French part)", 
    "Sint Maarten (Dutch part)", "Tokelau", "Turks and Caicos Islands", 
    "United States Virgin Islands", "Wallis and Futuna Islands", 
    "Western Sahara", "Anguilla", "Aruba", "Bermuda", "Bonaire, St. Eustatius & Saba", 
    "British Virgin Islands", "Cayman Islands", "Cook Islands", 
    "Falkland Islands (Malvinas)", "French Guiana", "French Polynesia", 
    "Guam", "Isle of Man", "Montserrat", "New Caledonia", "Niue", 
    "Northern Mariana Islands", "Puerto Rico", "RÃ©union", 
    "Saint BarthÃ©lemy", "Saint Helena", "Saint Martin (French part)", 
    "Sint Maarten (Dutch part)", "Tokelau", "Turks and Caicos Islands", 
    "United States Virgin Islands", "Wallis and Futuna Islands", 
    "Western Sahara"
]

#To filter only the countries
filtered_data = un_data[un_data["Country"].isin(excluded_countries) == False]

filtered_data

,NÂ°,Country,Year,Series,Value,Footnotes,Source
883,4,Afghanistan,2010,Population mid-year estimates (millions),28.19,NaN,"United Nations Population Division, New York, ..."
884,4,Afghanistan,2010,Population mid-year estimates for males (milli...,14.24,NaN,"United Nations Population Division, New York, ..."
885,4,Afghanistan,2010,Population mid-year estimates for females (mil...,13.95,NaN,"United Nations Population Division, New York, ..."
886,4,Afghanistan,2010,Sex ratio (males per 100 females),102.10,NaN,"United Nations Population Division, New York, ..."
887,4,Afghanistan,2010,Population aged 0 to 14 years old (percentage),49.00,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...
7584,716,Zimbabwe,2022,Population mid-year estimates for females (mil...,8.61,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7585,716,Zimbabwe,2022,Sex ratio (males per 100 females),89.40,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7586,716,Zimbabwe,2022,Population aged 0 to 14 years old (percentage),40.60,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7587,716,Zimbabwe,2022,Population aged 60+ years old (percentage),4.80,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7588,716,Zimbabwe,2022,Population density,42.20,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."

In [10]:
#To clean the rows in Year and Series columns (our selection)
filtered_data_cleaned = filtered_data.dropna(subset=["Year", "Series"])

#To select our main variable
filtered_data_total = filtered_data_cleaned[
   (filtered_data_cleaned["Series"] == "Population mid-year estimates (millions)")
]

filtered_data_total

,NÂ°,Country,Year,Series,Value,Footnotes,Source
883,4,Afghanistan,2010,Population mid-year estimates (millions),28.19,NaN,"United Nations Population Division, New York, ..."
890,4,Afghanistan,2015,Population mid-year estimates (millions),33.75,NaN,"United Nations Population Division, New York, ..."
897,4,Afghanistan,2021,Population mid-year estimates (millions),40.10,NaN,"United Nations Population Division, New York, ..."
905,4,Afghanistan,2022,Population mid-year estimates (millions),41.13,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
912,8,Albania,2010,Population mid-year estimates (millions),2.91,NaN,"United Nations Population Division, New York, ..."
...,...,...,...,...,...,...,...
7553,894,Zambia,2022,Population mid-year estimates (millions),20.02,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."
7560,716,Zimbabwe,2010,Population mid-year estimates (millions),12.84,NaN,"United Nations Population Division, New York, ..."
7567,716,Zimbabwe,2015,Population mid-year estimates (millions),14.15,NaN,"United Nations Population Division, New York, ..."
7574,716,Zimbabwe,2021,Population mid-year estimates (millions),15.99,NaN,"United Nations Population Division, New York, ..."
7582,716,Zimbabwe,2022,Population mid-year estimates (millions),16.32,Projected estimate (medium fertility variant).,"United Nations Population Division, New York, ..."

In [11]:
#Step 4B.A Compute the mean
mean_value = filtered_data_total['Value'].mean()

mean_value

37.22021013597033

In [12]:
#Step 4B.B Compute the median
median_value = filtered_data_total['Value'].median()

median_value

7.4

In [13]:
#Step 4B.C Compute the mode
filtered_data_total = filtered_data_total.dropna(subset=['Value'])

mode_value = filtered_data_total['Value'].mode()

print("Mode Value:", mode_value[0] if not mode_value.empty else "No mode")

Mode Value: 0.11

In [14]:
#Step 5 (hard way)

#To contain only the non-NaN values from the Value column in the filtered_data_total df, filtering out any NaN values
data_values = [value for value in filtered_data_total['Value'] if pd.notna(value)]

In [15]:
#Compute the mean
mean_value = sum(data_values) / len(data_values)
mean_value

37.22021013597033

In [16]:
#Compute the median
sorted_data = sorted(data_values)
n = len(sorted_data)

if n % 2 == 1:
    median_value = sorted_data[n // 2]
else:
    median_value = (sorted_data[n // 2 - 1] + sorted_data[n // 2]) / 2

median_value

7.4

In [17]:
#Compute the mode
#Importing the multimode module
from statistics import multimode

mode_values = multimode(data_values)
mode_values

[0.11]

In [18]:
counts = {}
for value in data_values:
    counts[value] = counts.get(value, 0) + 1

max_count = max(counts.values())
modes = [key for key, count in counts.items() if count == max_count]

print(f"Moda: {modes}")

#To be honest, Professor and TA, in this part a friend (engineer system) helped me, trying to understand the logic.

Moda: [0.11]

In [19]:
#Step 6 (table)
#Population mean per year
average_by_year = filtered_data_total.groupby('Year')['Value'].mean().round(1)

#Creating the df
average_by_year_df = average_by_year.reset_index()
average_by_year_df.columns = ["Year", "Average Population"]

# Adding some format to the headers (only for visualization)
title = "Average population (in millions) per year"
print(f"{title:^50}")
print("=" * 50)
#The code center came from here https://www.w3schools.com/
print(f"{'Year':<10} {'Population (Mill.)':<20}")
print("-" * 50)

for _, row in average_by_year_df.iterrows():
    print(f"{int(row['Year']):<10} {row['Average Population']:>10}")

#I found 'iterrows' definition in https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iterrows.html

    Average population (in millions) per year
==================================================
Year       Population (Mill.)
--------------------------------------------------
2010             34.3
2015             36.4
2021             39.1
2022             39.1

In [20]:
#Step 6 (sparklines)

average_by_year_df['Sparkline'] = average_by_year_df['Average Population'].apply(lambda x: '*' * round(x / 10))

# Adding some format to the headers (only for visualization)
title = "Average population (in millions) per year"
print(f"{title:^50}")
print("=" * 50)
#The code center came from here https://www.w3schools.com/
print(f"{'Year':<10} {'Population (Mill.)':<20}")
print("-" * 50)

for index, row in average_by_year_df.iterrows():
    print(f"{row['Year']:<10} {row['Sparkline']:<20}")

    Average population (in millions) per year
==================================================
Year       Population (Mill.)
--------------------------------------------------
2010       ***
2015       ****
2021       ****
2022       ****